@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');
@import "mixins";

/*
font-family: 'Flow Circular', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
    --background: #1D1E1F;
    --section: #292B2F;
    --foreground: #FFFFFF;
    --accent: #2CA6FF;
    --disturb: #FF2C2C;
    --success: #20ff45;
}

.gap {
    @extend %gap;
}

input {
    @extend %reset;
    background-color: transparent;
    outline: 1px solid var(--foreground);
    border-radius: 1.5rem;
    height: 1rem;
    padding: 0.75rem 1rem;

    &:focus {
        outline: 2px solid var(--foreground);
    }
}

.input {
    @extend %rowC;
    justify-content: space-between;
    gap: 0.5rem;

    & > label {
        font-weight: bold;
    }
}

select {
    @extend %reset;
    position: relative;
    background-color: var(--section);
    color: var(--foreground);
    outline: 1px solid var(--foreground);
    border-radius: 1.5rem;
    padding: 0.75rem 2.5rem 0.75rem 1rem;

    &:focus {
        outline: 2px solid var(--foreground);
    }
}

textarea {
    @extend %reset;
    background-color: transparent;
    outline: 1px solid var(--foreground);
    border-radius: 1.5rem;
    padding: 1rem;
    width: 100%;
    resize: vertical;

    &:focus {
        outline: 2px solid var(--foreground);
    }
}

.select {
    position: relative;

    select {
        width: 24rem;
    }

    .arrow {
        position: absolute;
        right: 1rem;
        top: 1.125rem;
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;

        border-top: 0.5rem solid var(--foreground);
    }
}

.button {
    @extend %reset;
    @extend %rowC;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;

    i {
        transform: translateY(2px);
        font-size: 1rem;
    }

    &:hover {
        background-color: rgb(255 255 255 / 0.1);

        span {
            text-decoration: underline;
        }
    }

    &:focus, &[data-selected="1"] {
        color: var(--accent);
    }

    &.submit {
        background-color: var(--accent);
    }

    &.submit.transparent {
        background-color: transparent;
        color: var(--accent);
    }

    &.large {
        padding: 2rem;
        background-color: var(--accent);
    }
}


.card {
    @extend %rowS;
    background-color: var(--section);
    color: var(--foreground);
    text-decoration: none;
    padding: 1rem 1rem 3rem 1rem;
    border-radius: 1rem;
    gap: 1rem;
    position: relative;

    & > img {
        width: 6rem;
        height: 6rem;
        border-radius: 1rem;
    }

    & > div {
        @extend %colS;
        gap: 0.5rem;

        h1 {
            margin: 0;
        }
    }

    & > span {
        position: absolute;
        white-space: nowrap;
        right: 1rem;
        bottom: 1rem;
        opacity: 0.3;
    }
}


.vacancy {
    @extend %colS;
    gap: 2rem;

    & > header {
        @extend %row;
        gap: 2rem;

        & > div {
            @extend %colS;
            justify-content: center;
            gap: 1rem;
        }

        & > div:nth-child(1) {
            h1 {
                margin: 0;
            }

            & > span {
                font-size: 1.5rem;
            }

            & > em {
                font-style: normal;
                opacity: 0.3;
            }
        }

        & > div:nth-child(2) {
            strong {
                font-weight: normal;
            }

            span {
                font-weight: bold;
                color: var(--accent);
            }
        }

        img {
            height: 20rem;
            width: 30rem;
            object-fit: cover;
        }
    }

    & > a {
        margin-left: auto;
    }
}

.brief_summary {
    @extend %rowS;
    color: var(--foreground);
    text-decoration: none;
    background-color: var(--section);
    padding: 1rem 2rem;
    border-radius: 1rem;
    gap: 4rem;

    h1 {
        margin: 0;
    }

    & > div:last-child {
        @extend %rowC;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        gap: 1rem;

        i {
            transform: translateY(4px);
        }
    }
}

.profile {
    background-color: var(--section);

    & > div {
        @extend %rowS;

        & > table {
            border-collapse: collapse;

            td:first-child {
                font-weight: bold;
                opacity: 0.3;
            }

            td {
                padding: 0.5rem 1rem;
            }
        }

        #photo {
            @extend %colC;
            gap: 2rem;
        }

        img {
            border-radius: 100%;
            width: 6rem;
        }

        span.success {
            color: var(--success);
        }
    }
}


body {
    @extend %reset;
    @extend %colS;
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Roboto", sans-serif;

    & > header {
        @extend %rowC;
        align-items: center;
        font-weight: bold;
        gap: 1rem;

        h1 {
            font-family: "Poppins", sans-serif;
            margin: 0;
            padding: 0 1rem;
            font-size: 2rem;
        }

        hr {
            @extend %reset;
            height: 2rem;
            min-width: 2px;
            background-color: var(--foreground);
        }

        .button {
            border-radius: 0 0 1rem 1rem;
        }
    }

    & > main {
        @extend %colS;
        margin: 4rem auto;
        width: fit-content;
        max-width: 70rem;
        gap: 0.5rem;
        min-height: calc(100vh - 27.75rem);

        & > div {
            @extend %rowC;
            gap: 1rem;

            & > h1 {
                font-size: 1rem;
                margin: 0;
            }

            & > .button {
                margin-left: auto;
            }
        }

        & > h1 {
            margin: 0;
            font-size: 1rem;
        }

        form {
            @extend %colS;
            background-color: var(--section);
            padding: 1rem;
            position: relative;
            border-radius: 1rem;
            gap: 1rem;

            &.row {
                @extend %rowC;

                & > input {
                    width: 100%;
                }
            }
        }

        article {
            @extend %colS;
            padding: 1rem;
            border-radius: 1rem;
            gap: 1rem;

            form {
                padding: 0;
            }

            & > h1 {
                font-size: 1rem;
                margin: 0;
            }

            &.article {
                background-color: var(--section);
            }
        }
    }

    & > footer {
        @extend %rowS;
        background-color: var(--section);
        padding: 4rem;

        & > div {
            @extend %colS;
            gap: 0.5rem;

            & > h1 {
                font-family: "Poppins", sans-serif;
                margin: 0;
            }

            & > div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 1rem;
                grid-row-gap: 0.5rem;
            }
        }

        & > strong {
            font-family: "Poppins", sans-serif;
            text-align: right;
            margin-left: auto;
            margin-top: auto;
        }
    }
}
