{% extends "root.html" %}
{% load static %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="vacancy">
    <header>
        <div>
            <h1>{{ vacancy.title }}</h1>
            <span>{{ vacancy.get_city }}</span>
            <em>{{ vacancy.creation_time }}</em>
        </div>
        <div>
            <strong>Шукається:</strong>
            <span>{{ vacancy.looking_for }}</span>
        </div>
        {% if vacancy.thumbnail %}
        <img src="{{ vacancy.thumbnail }}" alt="">
        {% else %}
        <img src="{% static 'images/thumbnail_placeholder.webp' %}" alt="">
        {% endif %}
    </header>
    <span>{{ vacancy.description }}</span>
    {% if user.role == "W" %}

    {% if user in vacancy.candidates.all %}
    <a href="/vacancy/@{{ vacancy.id }}/cancel/" class="button submit">
        <i class="fi fi-sr-delete-document"></i>
        <span>Скасувати запис</span>
    </a>
    {% else %}
    <a href="/vacancy/@{{ vacancy.id }}/appeal/" class="button submit">
        <i class="fi fi-sr-memo-circle-check"></i>
        <span>Відгукнутися</span>
    </a>
    {% endif %}
    {% endif %}
</div>
{% endblock body %}
